
main{
    width: 100%;
    height: 100%;
    background-color: #ffcb69;
}




#box{
    width: 400px;
    height: 400px;
    background-color:#fff275;
    color:#6699cc ;
    padding: 120px;
    margin-left: 150px;
}