
body{
    font-family: 'Caveat', cursive;
}

img{
    display: block;
}

main{
    width: 100%;
    height: 100vh;
    background-image: url(../img/Le-porte-di-Durin-Moria.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  
}

.container{
    padding-top: 150px;
}

h1{
    padding-top: 50px;
    font-size: 70px;
    font-style: italic;
}

#box{
    width: 400px;
    height: 400px;
    background-color:#c1bdb328;
    color:white ;
    border-radius: 25%;
    border: none;
    
}


input{
    height: 400px;
    width: 400px;
    background-color: #c1bdb328;
    font-size: 50px;
    border-radius: 25%;
    border: none;
}
button{
    background-color: #c1bdb328;
    border: none;
    color: white;

}